<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Profiler App</title>
    </head>
    <body>
        <h1 align="center">GitHub Repos</h1>
        <ol>
        <!-- Loop over the list of GitHub repos -->
        {% for repo in repo_list %}
            <li><b>Name: </b>{{ repo.name }}</li>
                <ul>
                    <!-- Display a repo description, if one exists -->
                    {% if repo.description %}
                        <!-- Display the full repo description, if it is less than 75 characters -->
                        {% if repo.description | length < 75 %}
                            <li><b>Description: </b>{{ repo.description }}</li>
                        <!-- If the description is longer than 75 characters,  display a "more" button with hover text -->
                        {% else %}
                            <li><b>Description: </b>{{ repo.description | truncate(length=75) }} <a title="{{ repo.description }}">
                                [<font style="color:blue;text-decoration-line: underline;">more</font>]</a></li>
                        {% endif %}
                    <!-- Display a None value for the repo description in red -->
                    {% else %}
                        <li><b>Description: </b><font style="color:red;">{{ repo.description }}</font></li>
                    {% endif %}
                    <li><b>Owner: </b>{{ repo.owner }}</li>
                    <!-- Display red text to indicate when a repo is private -->
                    {% if repo.private %}
                        <li><b>URL: </b><font style="color:red;">Private</font></li>
                    <!-- Display a repo URL when a repo is public -->
                    {% else %}
                        <li><b>URL: </b><a target="_blank" href="https://github.com/{{ repo.owner }}/{{ repo.name }}">https://github.com/{{ repo.owner }}/{{ repo.name }}</a></li>
                    {% endif %}
                    <li><b>Last updated: </b>{{ repo.updated_at }}</li>
                </ul>
            <br>
            <hr>
            <br>
        {% endfor %}
        </ol>
    </body>
</html>